.wrapper {
  width: 360px;
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 102px;
}

.logo {
  display: flex;
  align-items: center;
  row-gap: 12px;
  flex-direction: column;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button {
  width: 100%;
}
